body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.panel-body{
  padding: 5%;
}

.panel-body img{
  width: 60%;
}

.contright-header{
  font-weight: bold;
}

#Profile{
  background: #dde9ff;
}

#ContainerCenter{
  background: #e1e3e0;
  padding: 0px;
  float: left;
  width: 80%;
}

#MenuContainer{
  float: left;
  width: 80%;
}

.menu-header{
  background: #8fb2d7;
  font-weight: bold;
  font-size: 26px;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 5%;
}

#MenuContainer ul li{
  display: inline-block;
  font-weight: bold;
  padding-right: 30%;
}

#ContainerRight{
  background: #ff8d8d;
  float: right;
  width: 20%;
  padding: 0;
}

#HeaderWrapper {
  background-image: url("assets/stea.png");
  opacity: 1;
  margin: 0;
}
.active{
  color: black;
}

.jumbotron *{
  color: white;
  opacity: 1;
}

.foodRow img{
  max-height: 300px;
  width: auto;
}

.food-image{
  max-width: 300px;
  max-height: 300px;
}
